body {
  background: #FAFAFA;
}

[retama-editable], [fe-layout] {
  min-height: 40px;
  box-sizing: border-box;
  position: relative;

  &.active {
    [fe-layout] {
      border: 1px solid #F00;
    }
  }
}

[retama-editable] {
  &:focus {
    outline: none;
  }
  &.active {
    outline: 1px solid #099;
  }
  overflow: auto;
  &:empty {
    &:after {
      content: 'Click here to start editing';
      font-style: italic;
      color: #999;
    }

  }
}



.fe-toolbox {
  position: fixed;
  right: 0px;
  transform: translate(100%, 0);
  top: 100px;
  background: #FFF;
  font-family: Helvetica, sans-serif;
  transition: all .5s;
  &.show {
    transform: translate(0, 0);
    box-shadow: -1px 1px 1px 0 rgba(0,0,0, .5);
  }

  a {
    cursor: pointer;
    display: block;
    // width: 24px;
    // height: 24px;

    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #DDD;
    span, svg {
      display: inline-block;
      width: 16px; height: 16px;
      overflow: hidden;
    }
    span {
      font-size: 13px;
      font-weight: bold;
      line-height: 16px;
    }
  }
}



.lE-toolbox {
  height: 40px;

  color: #FFF;
  position: absolute;
  top: 0px; right: 0;
  z-index: 900;

  a {
    background: #909;
    display: block;
    width: 28px;
    float: left;
    color: #FFF;
    fill: #FFF;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #DDD;
    cursor: pointer;
  }
  span, svg {
    display: inline-block;
    width: 16px; height: 16px;
    overflow: hidden;
  }
  span {
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
  }

  .indent-1 & {
    a {
      background: #808;
    }
  }
  .indent-2 & {
    a {
      background: #707;
    }
  }
}

.retama-layout {
  min-height: 40px;
  display: flex;


  &.content, &.rows {
    flex-direction: column;
  }
  &.columns {
    flex-direction: row;
  }

  > * {
    flex-grow: 1;
  }

  &:hover, &:focus {
    outline: 1px solid #909;
  }
  &.indent-1 {
    &:hover, &:focus {
      outline-color: #808;
    }
  }
  &.indent-2  {
    &:hover, &:focus {
      outline-color: #707;
    }
  }

  &.relative {
    position: relative;
  }
}